# Telegram Bot Token & Authorized User IDs
TELEGRAM_BOT_TOKEN=8931396589:AAEFjxpKr6AC5dEbcxt61QADWVXqlxVjpKI
ADMIN_USER_IDS=1497076788
ALLOWED_USER_IDS=1497076788,987654321

# API Keys
GENIUS_ACCESS_TOKEN=dNjPb3-f4YurUlKQ6kbIRHbm80uBxfBsRoKomEDgpnaLgScIavTO6e9_p19rUbFI
ACOUSTID_API_KEY=cSpUJKpD

# Base Music Storage Path
BASE_DOWNLOAD_DIR=~/Music

# Navidrome Subsonic API Configuration
NAVIDROME_URL=http://localhost:4533
NAVIDROME_USER=your_navidrome_username
NAVIDROME_PASS=your_navidrome_password

# Pagination & Display
PAGE_SIZE=6

# Telegram Mini App (Web App)
WEBAPP_HOST=127.0.0.1
WEBAPP_PORT=8000
WEBAPP_EXTERNAL_URL=https://your-domain.duckdns.org

