# Telegram Bot Token & Authorized User IDs
TELEGRAM_BOT_TOKEN=8931396589:AAEFjxpKr6AC5dEbcxt61QADWVXqlxVjpKI
ALLOWED_USER_IDS=1497076788

# API Keys
GENIUS_ACCESS_TOKEN=dNjPb3-f4YurUlKQ6kbIRHbm80uBxfBsRoKomEDgpnaLgScIavTO6e9_p19rUbFI
ACOUSTID_API_KEY=cSpUJKpD

# Base Music Storage Path
BASE_DOWNLOAD_DIR=~/Music

# Navidrome Subsonic API Configuration
NAVIDROME_URL=http://localhost:4533
NAVIDROME_USER=your_navidrome_username
NAVIDROME_PASS=your_navidrome_password

# Pagination & Display
PAGE_SIZE=6
